{% extends 'base.html' %} {% block content %}

<h1>Car Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ car.brand }}</span>
        <p>Color: {{ car.color }}</p>
        <p>Model: {{ car.model }}</p>
        <p>Features: {{car.features}}</p>
        <p>Year: {{car.year}}</p>
        {% if car.countryItMade is not USA %}
        <p>countryItMade: {{ car.countryItMade }}</p>
        {% else %}
        <p>countryItMade: Japan</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'cars_update' car.id %}">Edit</a>
        <a href="{% url 'cars_delete' car.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_insurance' car.id %}" method="POST">
      {% csrf_token %} {{ insurance_form.as_p }}
      <input type="submit" class="btn" value="Add Insurance" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Policy Number</th>
          <th>Provider</th>
          <th>Coverage Amount</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        {% for insurance in car.insurance_set.all %}
        <tr>
          <td>{{insurance.policyNumber}}</td>
          <td>{{insurance.provider}}</td>
          <td>{{insurance.coverageAmount}}</td>
          <td>{{insurance.startDate}}</td>
          <td>{{insurance.endDate}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- This is all new markup to be added just above the <script> tag -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ car.brand }}'s Users</h3>
      {% if car.users.count %}
        {% for user in car.users.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="name: {{user.name}}">{{user.name}} </span>
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Users </h5>
      {% endif %}
    </div>
  </div>
  <div class="col s6">
    <h3>Available Users</h3>
    {% if users.count %}
      {% for user in users.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="name: {{user.name}}">{{user.name}} </span>
            </span>
          </div>
          <div class="card-action">
            <form action="" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{car.name}} Already Has All Users Available</h5>
    {% endif %}
  </div>
  

<script>
  const selectEl = document.getElementById("id_policyNumber");
  M.FormSelect.init(selectEl);

  const selectEl = document.getElementById("id_provider");
  M.FormSelect.init(selectEl);

  const selectEl = document.getElementById("id_coverageAmount");
  M.FormSelect.init(selectEl);

  const dateEl = document.getElementById("id_startDate");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  const dateEl = document.getElementById("id_endDate");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
</script>
{% endblock %}
